.Überschrift{
    color: green;
    font-family: "Arial Black"
}

.hintergrund1{
    background-image: linear-gradient(to left top, grey, #e8ccca);
}

.hintergrund2{
    background-color: #2342b0;
}

.abstand{
    margin-right: 50px;
}

a:hover{
    color: #0ff56b;
}

a:visited{
    color: red;
}

div.a{
    font-family: "Arial Black"
}

.abstand2{
    margin-bottom: 50px;
}

.CV{
    margin-top: 60px;
    margin-left: 30px;
}

.hintergrund3{
    background-color: #24d466;
}

div.b{
    text-indent: 50px;
}

.Kopf{
    margin-left: 40px;
    margin-bottom: 25px;
}

body{
    font-family: "Gochi Hand";
}