.Überschrift1{
    color: green;
    font-family: "Bahnschrift Light";
}

.indexbody{
    background-image: linear-gradient(to left top, grey, #e8ccca);
    font-family: "Oswald ExtraLight"
}

.hintergrund2{
    background-color: #2342b0;
}

.abstand{
    margin-right: 50px;
}

a:hover{
    color: #0ff56b;
}

div.a{
    font-family: "Arial Black"
}

.CV{
    margin-top: 60px;
    margin-left: 30px;
}

.Lebenslauf{
    background-color: #24d466;
    font-family: "Bahnschrift";
}

.Kopf{
    margin-left: 40px;
    margin-bottom: 25px;
}

li {
  display: inline;
}

.bar {
    background-color: #0099ff;
}

a {
    color: #802000;
    font-size: 20px;
    font-family: "Bahnschrift Light"
}