body{
background-image: linear-gradient(to right top, #3333ff, #ff471a);
font-size: 1.55rem;
}

h1{
font-size: 4rem;
}

.Luke2{
margin-top: 10rem;
font-size: 1.55rem;
}

a:link{
color: #80ffff
}

a:hover{
color: #ff0066
}

a:active{
color: #ffff4d